.gallery__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 361px;
  gap: 17px 20px;
  margin: 0;
  padding: 0;
  list-style: none;
}

@media screen and (max-width: 905px) {
  .gallery__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 630px) {
  .gallery__grid {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 20px;
  }
}
